@import "~bootstrap/scss/bootstrap";
@import "./admin.scss";
@import "./reset.scss";

body {
  font-family: "Nunito", sans-serif !important;
}
.custom-btn {
  padding: .5rem 2.5rem;
}

#top-img {
  max-width: 700px;
}

.maxvh {
  height: 100vh;
}
.navvh {
  height: 10vh;
}
.ninevh {
  height: 90vh;
}
.p-c_box {
  max-height: 300px;
}
